# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/../lib/mysql-connector-j-8.3.0.jar
/../lib/protobuf-java-3.25.1.jar
.idea
